html {
    background: url(http://unsplash.it/1500/1000?image=881&blur=50);
    background-size: cover;
    text-align: center;
}

.clock {
    width: 300px;
    height: 300px;
    border: 20px solid white;
    border-radius: 40%;
    margin: 50px auto;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(.16,2.99,.58,1);
}